body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2c3e50;
    font-size: 2em;
    margin-bottom: 20px;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    margin-bottom: 20px;
}

input[type="text"] {
    font-size: 1em;
    padding: 10px;
    border: 2px solid #2c3e50;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    background-color: #2ecc71; /* Yeşil renk */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #27ae60;
}

#message {
    color: #e74c3c;
    font-size: 1.1em;
}
